@import "tailwindcss";


/* :root {
  --primary: #3E2723;     
  --secondary: #E6D5C3;   
  --accent: #C9A24D;     
  --background: #FAF7F2;  
  --text: #2B2B2B; 
} */


/* Background banner dots for Home Page */
.hero-pattern{
  background-image: radial-gradient(#E6D5C3 1px, transparent 1px);
  background-size: 24px 24px;
}




/* MEDIA QUERIES:- */
@media (max-width: 900px) and (min-width:440px){
  .optionsHome{
    grid-template-columns: repeat(2,1fr)
  }
}


@media (max-width: 480px){
  .homeBtn{
    flex-direction: column;
  }
}


@media (max-width: 439px){
  .optionsHome{
    grid-template-columns: repeat(1,1fr)
  }
}